# Tests Actions to deploy ARM template to Azure
name: arm-template-deploy
on: [push]

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Check Out Repository
      id: checkout_repository
      uses: actions/checkout@v2
         
    # Connect or Create the Azure Machine Learning Workspace
    - name: deploy all resources
      id: aml_configure
      uses: ./
      with:
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          armtemplateparams_file: "deploy.params.json"
          armtemplate_file: "deploy.json"
          resource_group: a0
          deployment_mode: "Incremental"
          
    - name: testResources
      id: testOutput
      run: |
        a= ${{ steps.aml_configure.outputs.deployment_parameters}} 
        echo $a
          
    - name: azure login 
      uses: azure/login@v1.1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    
    - name: Run Az CLI script
      run: |
       ${{ steps.aml_configure.outputs.deployment_parameters }}.storageAccountName

