# Tests Actions to deploy ARM template to Azure
name: arm-template-deploy
on: [push]

jobs:
  train:
    runs-on: ubuntu-latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Check Out Repository
      id: checkout_repository
      uses: actions/checkout@v2
         
    # Connect or Create the Azure Machine Learning Workspace
    - name: deploy all resources
      id: aml_configure
      uses: ./
      with:
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          armtemplateparams_file: "deploy.params.json"
          armtemplate_file: "deploy.json"
          resource_group: ${{ secrets.RESOURCE_GROUP }}
          mapped_params: '{"storageAccountName":"amlconfigure0001"}'
          deployment_mode: "Incremental"
          
    - name: azure login 
      uses: azure/login@v1.1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
    
    - name: Run Az CLI script
      run: |
       az resource delete -g a0 -n amlconfigure0001 --resource-type Microsoft.Storage/storageAccounts

